body {
    margin: 0;
    height: max-content;
    background-image: radial-gradient(ellipse farthest-corner, #02005c 18%, transparent 100%);
}

#everything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#allpictures {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 350px;
    height: 350px;
}

h1, h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
}

#everything {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: max-content;
}

#fram-pic, #cubicles, #desks, #cabnets, #mounting {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#nav-bar {
  list-style-type: none;
  height: 25px;
  overflow: hidden;
  font-size: x-large;
}

.nav {
  display: block;
  flex-direction: row;
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
    color: #eeeeee;
}