body {
    padding: 100px 0 0 100px;
    margin: 0;
    background-image: radial-gradient(ellipse farthest-corner, #02005c 3%, transparent 75%);
}

p {
    color: #eeeeee;
}

#nav-bar {
  list-style-type: none;
  height: 25px;
  overflow: hidden;
  font-size: x-large;
}

.nav {
  display: block;
  flex-direction: row;
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name, #phone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.input-info{
    width: 175px;
    height: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 300px;
}

#street {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

#addressbar {
    width: 385px;
}

#city {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 15px;
}


#input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 250px;
}

::placeholder {
    text-wrap: wrap;
    color: black;
}

#fileUpload {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding: 15px 0 0 0;
}

#submit {
    width: 100px;
}

a {
    color: antiquewhite;
}